.wrapper {
	margin: 0 auto;
}

.form {
	margin: 20px;
	padding: 20px;
	display: flex;
	flex-direction: column;

	border: 1px solid rgb(59, 59, 97);
}

.form__item {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.form__item input {
	width: 450px;
}
