.wrapper {
  padding: 1rem 1.25rem ;
  margin: 0px auto; 

  background: url('../../assets/background-ligth.png');

}
@media (min-width: 768px) {
	.wrapper{
		padding: 1em 1.875rem; 

	}
}
@media (min-width: 992px) {
  .wrapper{
		padding: 1em 2.5rem; 

	}
}
@media (min-width: 1199px) {
	.wrapper{
		padding: 1em 3.125rem; 
   
	}
}


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input {
  margin-bottom: 3px;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
}
