.container {
	padding: 20px;
}

.person {
	width: 90%;
   margin: auto;
   padding: 10px;
   border: 1px solid var(--color-border-header);
   border-radius: 5px;
}

@media (min-width: 768px) {
	.person{
		width: 60%;
	}
}
.person__name {
	font-size: 1.5em;
}
.person__email {
	font-size: 1.3em;
}
.person__photo {
	width: 100%;
	height: 225px;
	position: relative;
	border-radius: 5px;
}
@media (min-width: 768px) {
	.person__photo{
		height: 350px;
	}
}

.person__photo img {
	position: absolute;
	object-fit: cover;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
}

