.comments__container {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	list-style-type: none;
	padding-left: 0!important;
}


.comment__frame {
	padding: 0.2em;
	margin: 0.2em;
	background-color: white;
	display: flex;
	flex-grow: 1;
	position: relative;
}

.comment__autorimg {
	margin-right: 0.5em;
	border: 1px solid var(--color-border-frame);
	height: 1.8em;
	width: 1.8em;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;

}
.comment__deletebtnframe {
	height: 1.8em;
	width: 1.8em;
	align-self: center;
}

.comment__deletebtn {

	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	color: var(--color-title);
}

.comment__autorimg img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	top: 0;
	left: 0;

}

.comment__textframe {
	padding: 0.4em;
	font-style: italic;
	flex-grow: 1;

	border-radius: 5px;
	background-color: var(--color-background-logo);
	display: flex;
	flex-direction: column;
}

.comment__textframe__autorname {
	font-size: 0.7em;
	color: var(--color-text-info);
}

.comment__textframe__content {
	font-size: 0.9em;
}

.comment__textframe__imgframe {
	display: flex;
	justify-content: center;
}
.comment__textframe__img {
	padding: 0 4em;
	align-self: center;
	height: 200px;
	width: 300px;
	position: relative;
	overflow: hidden;
	text-align: center;
}

.comment__textframe__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	top: 0;
	left: 0;
	position: absolute;
}

.comment__likes {
	color: var(--color-title);
	width: 4.5em;

	display: flex;
	justify-content: space-between;
}
.comment__likes  {
	padding: 0 0.15em;
	cursor: pointer;
	font-size: 0.7em;
	display: block;
	border: 1px solid var(--color-border-frame-likes);
	border-radius: 50%;
	background-color: var(--color-background);
	width: 30px;
	height: 30px;
	position: absolute;
	right: 5.5em;
	bottom: -0.5em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.comment__likes  :hover {
	font-weight: bold;
}

.comment__dislikes  {
	padding: 0 0.15em;
	cursor: pointer;
	font-size: 0.7em;
	display: block;
	border: 1px solid var(--color-border-frame-likes);
	border-radius: 50%;
	background-color: var(--color-background);
	width: 30px;
	height: 30px;
	position: absolute;
	right: 2.5em;
	bottom:-0.5em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.comment__dislikes  :hover {
	font-weight: bold;
}

/*New Comment*/

.commentNew {
	display: flex;
	align-items: center;
	padding: 0.2em;
	margin: 0.4em 0.2em 0.2em 0.2em;

}


.commentNew__frame {
	border-style: none;
	background-color: var(--color-background);
	border-radius: 10px;
	min-height: 32px !important;
	flex-grow: 1;
	margin-right: 0.3em;
	padding: 0.2em;
	padding-left: 0.5em;

}

.commentNew__frame:focus {
	border: 1px solid red !important;

}

.commentNew__addfile {
	background-color: var(--color-background);
	height: 32px;
	width: 32px;
	border-radius: 50%;
	margin-right: 0.3em;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.commentNew__addfile label i {
	cursor: pointer;
}

input[type="file"] {
	display: none;
}
.custom-file-upload {
	border: 1px solid #ccc;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
}

button {
	border-radius: 25%;
	background-color: var(--color-btn);
	color: white;
}

.commentNew__btn {
	border-radius: 50%;
}

.commentNew__photourl {
	font-size: 0.8em;
	font-style: italic;

	margin: 0 0 0.5em 3.5em;
}